<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Formulario de Edición de Asignaciones.</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss(null)">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-list>
        <ion-item >
          <ion-select placeholder="Nombre Persona">
            <ion-select-option *ngFor="let person of getPeople()" value="{{person.id}}">{{person.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
  </form>
</ion-content>