<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Formulario de Edición de Asignaciones.</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <app-person-selectable formControlName="idPerson"></app-person-selectable>
      <app-task-selectable formControlName="idTask"></app-task-selectable>
      <app-date-time-selectable formControlName="dateTime"></app-date-time-selectable>
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
  </form>
</ion-content>