<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Jose Antonio Benitez Ruiz</strong>
    <p>
      <ion-button [routerLink]="['../persons']">Go Persons</ion-button>
      <ion-button [routerLink]="['../task']">Go Task </ion-button>
      <ion-button [routerLink]="['../assigns']">Go Asings</ion-button>
      <ion-button [routerLink]="['../viewtask']">Go View Task</ion-button>
    </p>
  </div>
</ion-content>
