<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/">Return to Home</ion-back-button>
    </ion-buttons>
    <ion-title slot="end">asingns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
      <ion-label>Tareas</ion-label>
  </ion-list-header>
  <ion-list *ngFor="let assings of getAssing()"> 
    <app-assignment [assing]="assings" (onEdit)="onEditPerson($event)"></app-assignment>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
      <ion-fab-button (click)="onNewPerson()"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
